/*.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}*/

.row.no-gutters{
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"]{
    padding-right: 0;
    padding-left:  0;
}
table {
 
 height: 100%;
  width: 100%
}
 mat-row:nth-child(even){
          background-color:red;
          }

   mat-row:nth-child(odd){
          background-color:black;
          }

          .highlight{
  background:lightgray; /* green */
}