<div class="container-fluid" style="height: 100%" >
    <div class="row" style="height: 30px;">
      <div class="col-md-12" style="background:lightgray; height: 30px; border-bottom: solid; border-bottom-color: :aqua">
      </div>
    </div>
    <div class="row" style="height: 40px;background: cadetblue">
      <div class="col-md-6"  style=" height: 40px">
        <menuComponent></menuComponent>
      </div>
      <div  style=" height: 40px" class="col-md-6 ">
        <app-login-status class="float-md-right"></app-login-status>
      </div>
    </div>
    <div id="tradeDiv" class="row" style="margin-left: -10px; " >
     <router-outlet></router-outlet>
    </div>
</div>
